@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .bg-dark-primary {
        @apply bg-[#100e25];
    }
    .bg-dark-secondary {
        @apply bg-[#18162e];
    }
    .bg-gradient-blue {
        background: radial-gradient(#f2fbff, #7dd3fb, #6d61ed);
    }

    .clickable {
        @apply hover:scale-95 transition;
    }

    .text-secondary {
        @apply mt-2 text-sm text-gray-700 flex flex-row;
    }
    .hero-text-secondary {
        @apply text-center text-white;
    }
    .hero-text-secondary-sm {
        @apply text-base text-center text-gray-300;
    }

    .heading-sm {}
    .heading-md {}
    .heading-lg {
        @apply text-2xl font-semibold font-display;
    }
    .heading-xl {
        @apply text-6xl md:text-7xl font-semibold font-display text-center bg-gradient-blue;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .rounded-size {
        @apply rounded-xl;
    }
    .border-color {}
    .border-color-dark {
        @apply border-[#35334c];
    }

    .padding {
        @apply p-6;
    }

    .hidden-mobile {
        @apply hidden md:block;
    }
}

/* Makes the selection text brand colored */
/*::selection {*/
/*    background: #fef3c7; !* WebKit/Blink Browsers *!*/
/*}*/

/*::-moz-selection {*/
/*    background: #fef3c7; !* Gecko Browsers *!*/
/*}*/

/*:root {*/
/*    --cc-btn-primary-bg: #028560;*/
/*}*/
